<div class="cards">
  <div class="card-category">
    <%= link_to who_i_ams_path do %>
      <%= image_tag "MaxPic.JPG", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">About</p>
  </div>
   <div class="card-category">
    <%= link_to knowledges_path do %>
      <%= image_tag "montagne.jpg", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">Knowledge</p>
  </div>
  <div class="card-category">
    <%= link_to experiences_path do %>
      <%= image_tag "Gold.jpeg", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">Resume</p>
  </div>
  <div class="card-category">
    <%= link_to photos_path do %>
      <%= image_tag "galaxie.jpeg", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">Photos</p>
  </div>
  <div class="card-category">
    <%= link_to portfolios_path do %>
      <%= image_tag "sweet.jpg", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">Portfolio</p>
  </div>
  <div class="card-category">
    <%= link_to estimates_path do %>
      <%= image_tag "fête.jpeg", class: "card-category", style: "linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"%>
    <% end %>
    <p class="card_title">Estimate</p>
  </div>
</div>
