<div class="tête">
  <nav>
    <details>
    <summary class="dm">Découvrez-moi</summary>
      <ul>
        <li> <%= link_to "Accueil", root_path %> </li>
        <li> <%= link_to "Qui suis-je ?", qui_suis_jes_path %> </li>
        <li> <%= link_to "Savoir faire", savoirs_path %> </li>
        <li> <%= link_to "Expériences Pro", experiences_path %> </li>
        <li> <%= link_to "Galerie Photos", galeries_path %> </li>
        <li> <%= link_to "Portfolio", portfolios_path %> </li>
        <li> <%= link_to "Devis", devis_path %> </li>
      </ul>
    </details>
  </nav>
</div>
