<div class="bandeau">

  <div class="raw d-flex justify-content-between text-center py-4">

    <div class="col-4">
      <nav>
        <details>
        <summary class="dm">More</summary>
          <ul>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "About", who_i_ams_path %> </li>
            <li> <%= link_to "Knowledge", knowledges_path %> </li>
            <li> <%= link_to "Resume", experiences_path %> </li>
            <li> <%= link_to "Photos", photos_path %> </li>
            <li> <%= link_to "Portfolio", portfolios_path %> </li>
            <li> <%= link_to "Estimate", estimates_path %> </li>
          </ul>
        </details>
      </nav>
    </div>

    <div class="col-4">
      <h1 class="title"><%= link_to "ROLLINDE DE BEAUMONT MAXIME", root_path, class: "title" %> </h1>
    </div>

    <div class="col-4">
      <p><%= image_tag ("MaxPic.JPG"), class: "logo"%></p>
    </div>

  </div>

</div>
